body{
    background: #DCDCDC;
}
header{
    background: white;
}
#titulo{
    background: white;
    width: 40%;
    height: 60px;
    margin: auto;
}
#foto{
    width: 40%; 
    margin: 40px auto;
    text-align: center;
    background: white;    
}
img{
    width: 100%;
    padding-bottom: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #DCDCDC;
    border-top: 1px solid #DCDCDC;
}
p{
    padding-bottom: 20px;
}
h3{
    float: left;
    padding: 10px;
}
.h3{
    float: right;
    padding: 10px;
    color: #DCDCDC;  
}
